<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% load static %}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'tvShow/css/style.css'%}">
  <script src="{% static 'tvShow/js/script.js' %}"></script>
  
  <title>Tv Shows | Display Show</title>
</head>
<body>
  <header>
    <nav class="navbar navbar-expanded-lg bg-dark">
      <a class="navbar-brand text-success" href="/">Tv Shows</a>
    </nav>
  </header>
  <div class="jumbotron">
    <h1 class="display-4">TV Show {{show.id}}</h1>
    <hr class="may-4 bg-success">
    <p><span style="font-weight: bold;">Title: </span>{{show.title}}</p>
    <p><span style="font-weight: bold;">Network: </span>{{show.network}}</p>
    <p><span style="font-weight: bold;">Release Date: </span>{{show.release_date}}</p>
    <p><span style="font-weight: bold;">Description: </span>{{show.desc}}</p>
    <a href="/shows/{{show.id}}/edit" class="text-success">Edit</a> | <a href="/delete/{{show.id}}"class="text-success">Delete</a>
  </div>
  <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
</body>
</html>