<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% load static %}
  <link rel="stylesheet" href="{% static 'gold/css/style.css'%}">
  <script type="text/javascript" src="{% static 'gold/js/script.js' %}>"></script>
  <title>Ninja Gold | Django</title>
</head>
<body>
  <div class="container">
    <div class=header>
      <h1>Ninja Gold</h1>
    </div>
    <div>
      <form>
        <div class="form-group form">
          {% csrf_token %}
          <label>Your Gold: </label>
          <input type="text" value="{{request.session.gold}}" disabled>
        </div>
      </form>
     </div>
     <div class="mid-section">
       <div class="box">
         <h3>Farm</h3>
         <p class="box-p">(earns 10-20 golds)</p>
         <form action="/process_money" method="POST">
          {% csrf_token %}
          <input type="hidden" name='name' value="farm">
          <button class="btn" type="submit">Find Gold!</button>
         </form>
       </div>
       <div class="box">
         <h3>Cave</h3>
         <p class="box-p">(earns 5-10 golds)</p>
         <form action="/process_money" method="POST">
          {% csrf_token %}
          <input type="hidden" name='name' value="cave">
          <button class="btn">Find Gold!</button>
        </form>
       </div>
       <div class="box">
         <h3>House</h3>
         <p class="box-p">(earns 2-5 golds)</p>
         <form action='/process_money' method="POST">
          {% csrf_token %}
          <input type="hidden" name='name' value="house">
          <button class="btn">Find Gold!</button>
        </form>
       </div>
       <div class="box">
         <h3 class="box-p">Casino</h3>
         <p class="box-p">(earns/takes 0-50 golds)</p>
         <form action='/process_money' method="POST">
          {% csrf_token %}
          <input type="hidden" name='name' value="casino">
          <button class="btn">Find Gold!</button>
        </form>
       </div>
     </div>
     <div class="output-section">
      <p class="act">Activities:</p>
      <div class="activities">
       {% for x in request.session.act_out reversed %}
        {{x | safe}}
       {% endfor %}

      </div>
     </div>
     <div class='reset'>
       <a  class="btn-a" href="/reset">Reset</a>

     </div>
  </div>
</body>
</html>