<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <!-- <script src="{{url_for('static', filename='js/jquery.js')}}"></script> -->
  <script src="{{url_for('static', filename='js/main.js')}}"></script>
  <title>Username Availability</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navabar-brand text-success" href="#">Welcome to the Wall</a>
  </nav>
  <div class="container">
    <div class="form-container mt-5" style="border: 1px solid rgb(216, 216, 216); padding: 20px; border-radius: 7px;">
      <label for="register" class="col-sm-2 col-form-label">Register here!</label>
      <form action="/username" id="regForm" method="POST">
          <div class="form-group row">
            <label for="username" class="col-sm-2 col-form-label">Username:</label>
            <div class="col-sm-10">
                <div id="usernameMsg">
                    
                </div>
              <input type="text" class="form-control" id="username" name="username" placeholder="Enter username">
            </div>
          </div>
          <div class="form-group row">
            <label for="email" class="col-sm-2 col-form-label">Email:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="email" name="email" placeholder="Enter email">
            </div>
          </div>
          <div class="form-group row">
            <label for="password" class="col-sm-2 col-form-label">Password:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="password" name="password" placeholder="Enter password">
            </div>
          </div>
          <div class="form-group row">
            <label for="confirm" class="col-sm-2 col-form-label">Confirm pw:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="confirm" name="confirm" placeholder="Confirm password">
            </div>
          </div>
          <button id="btn" type="submit" class="btn btn-dark float-right">Submit</button>
          <div style="clear: both;"></div>
        </form>
        <form id="ser" method="GET" action="/usersearch">  <!-- using GET will place the form inputs in the url as query strings-->
          <input type="text" name="name" id="name">
          <button type="submit">Search</button>
     </form>
     <div id='output'></div>
    </div>
  </div>                                

  <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> -->
  <script>

  $('#btn-1').click(function(){
    $(this).css('color', 'red')
  })
  </script>
</body>
</html>