<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% load static %}
  <link rel="stylesheet" href="{% static 'word_generator/css/style.css' %}">
  <script src="{% static 'word_generator/js/script.js'%}"></script>
  <title>Random Word Generator</title>
</head>
<body>
  <header>
    <h1>Random Word Generator</h1>
  </header>
  <div class="container">
    <h2>Random Word (attempt # {{request.session.counter}})</h2>
    <div>
      <p>
        {{request.session.random_string}}
      </p>
    </div>
    <form action="/random_word" method="POST">
      <button type="submit">Submit</button>
      {% csrf_token %}
    </form>
  </div>
</body>
</html>